html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --font-mont: 'Montserrat', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --white-color: #fff;
  --ooo: #000;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family: var(--font-mont);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1575819719798-83d97dd6949c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero::before {
  content: "";
  background-color: var(--ooo);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.header{
  position:fixed;
  width: 100%;
  z-index: 2000;
}
.header-bg {
  background-color: var(--ooo) !important;
}
.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.heade__nav {
  width: 100%;
  z-index: 1000;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  min-height: 50px;
  border: 1px solid transparent;
}
.navbar__logo {
  text-decoration: none;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  z-index: 13;
  position: relative;
  transition: all 0.4s ease;
}
.navbar__logo-des {
  z-index: 11;
}
.navbar__list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  padding: 15px 10px;
  margin-left: 10px;
  z-index: 10;
}
.navigation__link::before {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  width: 0px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  top: 8px;
  left: 0;
}
.navigation__link::after {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  width: 0px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  bottom: 8px;
  right: 0px;
}
.navigation__link:hover {
  color: #c9c9c9;
}
.navigation__link:hover::after {
  width: 60%;
  right: 20%;
}
.navigation__link:hover::before {
  width: 60%;
  left: 20%;
}
.navigation__link-activ::before {
  width: 60%;
  left: 20%;
}
.navigation__link-activ::after {
  width: 60%;
  left: 20%;
}
.navigation__link-activ {
  color: #c9c9c9;
}
.header__menu {
  display: none;
}
.header__menu-btn {
  width: 40px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 4;
}
.menu__item {
  width: 30px;
  height: 3px;
  display: inline-block;
  margin-bottom: 0px;
  background-color: #fff;
  position: relative;
  transition: all 0.5s ease;
}
.menu__item:nth-child(1) {
  position: relative;
  top: 5px;
}
.menu__item:nth-child(3) {
  position: relative;
  bottom: 5px;
}
.remove-line{
  display: none;
}
.rotate1{
  transform: rotate(-45deg) translate(0px, 0px);
  margin-bottom: -8px;
}
.rotate3 {
  transform: rotate(45deg) translate(0px);
}
/* MODAL */
.hero__modal {
  width: 100%;
  height: 0;
  background-color: var(--ooo);
  position: fixed;
  bottom: 0px;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease;
}
.hero__modal-height {
  height: 100vh;
}
.modal__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  padding-top: 100px;
}
.modal__item {
  margin-bottom: 30px;
}
.modal__link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
  position: relative;
  padding: 20px 0;
}
.modal__link::before {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  width: 0px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  top: 8px;
  left: 0;
}
.modal__link::after {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
  content: '';
  width: 0px;
  height: 1px;
  background: var(--white-color);
  position: absolute;
  bottom: 8px;
  right: 0px;
}
.modal__link:hover {
  color: #c9c9c9;
}
.modal__link:hover::after {
  width: 60%;
  right: 20%;
}
.modal__link:hover::before {
  width: 60%;
  left: 20%;
}
/* ------HERO CONTENT */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-content__title {
  width: 100%;
  font-size: 3em;
  font-weight: 500;
  color: var(--white-color);
}
.animate{
  font-weight: 600;
  color: rgb(222, 245, 13);
}
/* SCROLL */
.hero-scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 40px;
 
}
.hero-scroll__scrol {
  text-transform: uppercase;
  font-size: 10px;
  position: relative;
  padding: 20px;
  font-weight: 400;
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
.scrol::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 50%;
  margin-left: 0;
  width: 2px;
  height: 50px;
  background-color: #fff;
}
.scrol__down {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(
  -45deg);
  transform: rotate(
  -45deg);
  margin-bottom: -8px;
  position: relative;
  left: 43%;
  top: 10px;
}
@keyframes shake {
  50% {
    transform: translate(0, 15px);
  }
}
.about {
  max-width: 100%;
  padding-top: 80px;
  margin-bottom: 80px;
}
.about__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ooo);
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: center;
}
.about__skills {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.skills__words {
  padding-right: 30px;
}
.words__title {
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--ooo);
}
.words__text {
  font-family: var(--font-raleway);
  line-height: 2em;
  color: #555;
  font-weight: 400;
  margin-bottom: 10px;
}

.skills__skill {
  padding-left: 50px;
}
.skill__title {
  line-height: 1.5em;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--ooo);
}
.skill__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.skill__item {
  max-width: 100%;
}
.skill__text {
  display: flex;
  justify-content: space-between;
}
.skil__title {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--ooo);
  line-height: 1.4;
}
.skil__title span {
  color: #333;
  opacity: 0.8;
}
.skill__bar {
  max-width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  margin-bottom: 15px;
}
.skill__bar-filling {
  height: 100%;
  background-color: var(--ooo);
}
.bar-python {
  max-width: 50%;
}
.bar-html {
  max-width: 70%;
}
.bar-css {
  max-width: 60%;
}
.bar-js {
  max-width: 40%;
}
/* -------------OFFER--------- */
.my-offer {
  width: 100%;
  background-color: #EBEBEB;
  padding-bottom: 100px;
}
.offer__subtitle {
  text-transform: uppercase;
  color: var(--ooo);
  letter-spacing: 2px;
  line-height: 1.5em;
  font-size: 30px;
  font-weight: 500;
  padding-top: 70px;
  text-align: center;
}
.offer__list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.offer__img {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.laptop-img {
  width: 120px;
}
.camera-img {
  width: 120px;
}
.offer__item {
  position: relative;
}
.offer__wrapper-item {
  position: relative;
  padding: 30px 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.offer__title {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 2em;
  color: var(--ooo);
  font-weight: 500;
}
.offer__text {
  line-height: 2em;
  color: #555;
  font-size: 14px;
  font-family: var(--font-raleway);
  padding: 0 10px;
}
.offer__content::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: var(--ooo);
  border-left: 1px solid;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}
.offer__content::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-color: var(--ooo);
  border-right: 1px solid;
  border-bottom: 1px solid;
  transition: all 0.3s ease-in-out;
}




.offer__wrapper-item::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  border-color: var(--ooo);
  border-left: 1px solid;
  border-top: 1px solid;
  transition: all 0.3s ease-in-out;
}
.offer__wrapper-item::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border-color: var(--ooo);
  border-right: 1px solid;
  border-top: 1px solid;
  transition: all 0.3s ease-in-out;
}
.offer__item {
  transition: all 0.3s ease-in-out;
}
.offer__item:hover .offer__wrapper-item::before {
  width: 40px;
  height: 40px;
}
.offer__item:hover .offer__wrapper-item::after {
  width: 40px;
  height: 40px;
}
.offer__item:hover .offer__content::before {
  width: 40px;
  height: 40px;
}
.offer__item:hover .offer__content::after {
  width: 40px;
  height: 40px;
}






@media screen and (max-width:1200px) {
  .container {
    max-width: 90%;
  }
}


@media screen and (max-width:992px) {
  
  .hero-content__title {
    font-size: 3em;
  }
  .skills {
    display: flex;
    flex-direction: column;
  }
  .skills__skill {
    padding-left: 5px;
  }
  .skills__words {
    padding-left: 5px;
  }
  .offer__list {
    display: flex;
    flex-flow: row wrap;
  }
  .offer__item {
    float: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:768px) {
  .header__menu {
    display: block;
  }
  .navigation {
    display: none;
  }
  .modal__list {
    margin-top: 70px;
  }
  .hero-content__title {
    font-size: 2em;
  }
  .offer__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
  }
}
@media screen and (max-width:610px) {
  .hero-content__title {
    font-size: 1.5em;
  }
}
@media screen and (max-width:460px) {
  .hero-content__title {
    font-size: 1.2em;
  }
}







